*{
    padding: 0;
    margin: 0;
    
}
body{
    color: #fff;
    font: normal 10pt 'ABeeZee';
    background-image: linear-gradient(90deg, rgb(45, 48, 75) 0%, black 20% 80%, rgb(45, 48, 75) 100%);
    background-size: 100vw 100vw;

}
#cabecalho-container{
    /* background-color: #000000; */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2rem;
    padding-bottom: 3rem;
    max-width: 100vw;
}
.image-container{
    background-image: url(img/5570863.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#cabecalho-container img{
    width: 60vw;
    padding-bottom: 2rem;
    position: absolute;
    top: 100px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,.5));
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,.5));
}
#cabecalho-container h1{
    font:normal 20pt 'Press Start 2P';
    color: #7bff00;
    
    text-shadow: 1px -1px 0 #0a7700, 
    2px -2px 0 #0a7700, 
    3px -3px 0 #0a7700, 
    4px -4px 0 #0a7700, 
    5px -5px 0 #0a7700, 
    6px -6px 5px rgba(0, 0, 0, 0.55), 
    6px -6px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}
#cabecalho-container h3{
    position: relative;
}
#logo {
    transition: all 0.5s;
}
#logo:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
#cabecalho-container h3{
    font: normal 15pt 'Pixelify Sans';
}
#sobre-container p{
    padding-bottom: 0.5rem;
    
}
#sobre-container{
    /* background-color: #000; */
    padding: 1rem;
    max-width: 100vw;
    padding-top: 5rem;

}
h2{
    color: #7bff00;
    margin-bottom: 1rem;
}
#skils-container{
    padding-top: 5rem;
    /* background-color: #000; */
    min-height: 300px;
    padding: 1rem;
}
.skils-adquiridas{
    display: flex;
    align-items: center;
}
.novas-skils{
    display: flex;
    align-items: center;
}
.skil-content{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.skil-content img{
    max-width: 200px;
    border-radius: 10px;
    background-color: #2d3453;
    border: 1px solid #4c557c;
}
#projects{
     display: flex;
    flex-wrap: wrap;
}
#projetos-container{
    /* background-color: #000; */
    padding: 1rem;
   

}

#projeto-content{
    background-color: #2d3453;
    max-width: 240px;
    min-width: 240px;
    max-height: 300px;
    min-height: 300px;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 10px;
    border: 1px solid #4c557c;
}
#projeto-content h4{
    color: #7bff00;
}
.img-projeto{
    width: 230px;
    border-radius: 10px;
}
.links img{
    width: 20px;
    padding-left: 10px;
}
.tecnologias{
    width: 30px;
}
#contato{
    padding: 1rem;
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form{
    display: flex;
    flex-direction: column;
    background-color: #2d3453;
    border: 1px solid #4c557c;
    border-radius: 10px;
    max-width: 400px;
    padding: 1rem;
    line-height: 30px;
}
#form input{
    width: 300px;
    font: normal 10pt 'ABeeZee';
    outline: none;
    transition: all 0.5s;
    border: 0;
}
#form textarea{
    font: normal 10pt 'ABeeZee';
    outline: none;
    transition: all 0.5s;
    border: 0;
}
form input:focus{
    border-radius: 10px;
}
form textarea:focus{
    border-radius: 10px;
}
#tel{
    max-width: 120px;
    margin-bottom: 12px;
}
.send-button{
    background-color: #4c557c;
    color: #fff;
    border: none;
    border-radius: 2px;
    max-width: 100px;
    height: 30px;
    margin-top: 12px;
    transition: all 0.5s;
    cursor: pointer;
}
.send-button:hover{
    border-radius: 50px;
    border: 1px solid #585f7e;
}
#rodape-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #2d3453;
    padding-inline: 1rem;
    border: 1px solid #4c557c;
    
}
.socialmedia a{
    text-decoration: none;
}
.img-social{
    width: 40px;
    padding-right: 10px;
}
@media (min-width: 800px){
    
    /* #cabecalho-container{} */
    .image-container img{
        max-width: 300px;
    }

    #sobre-container{
        padding-inline: 20vw;
    }
    #skils-container{
        padding-inline: 20vw;
    }
    .skil-content img{
        max-width: 100px;
    }
    #projetos-container{
        padding-inline: 20vw;
    }
    #contato{
        align-items: flex-start;
        padding-inline: 20vw;
    }
    #rodape-container{
        flex-direction: row;
    }
}

/* Pagina de obrigado */
#main{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    font: normal 10pt "ABeeZee";
}
#box{
    background-color: #2d3453;
    border: 1px solid #585f7e;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#box h1{
    margin-bottom: 16px;
    color: #7bff00;
}
#box button{
    text-decoration: none;
    color: #fff;
    border: 1px solid #4c557c;
    background-color: #4c557c;
    padding: 10px;
    margin-top: 50px;
    border-radius: 3px;
    transition: all 0.5s;
    cursor: pointer;
}
#box button:hover{
    border-radius: 50px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
